* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
    max-width: 620px;
    margin: 0px auto;
}

header {
    display: flex;
}

main {
    display: flex;
}

.leftInfo {
    width: 180px;
    background-color: rgb(81, 81, 165);
    color: aliceblue;
    padding-top: 10px;
}

 article {
    margin-left: 30px;
    margin-top: 20px;
} 

.contacts {
    padding-bottom: 10px;
    margin-left: 30px;
    margin-top: 20px;
}

.linkTelega {
    color: white;
}

.skills {
    margin-top: 40px;
    padding-bottom: 10px;
    margin-left: 30px;
}

.list {
    margin-bottom: 10px;
    margin-left: 30px;
}

.rightInfo {
    color: rgb(48, 80, 109);
    padding-top: 30px;
    margin-left: 20px;
}

.profilePhoto {
    border-radius: 50%;
    width: 110px;
    display: block;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.photoBlock {
    background-color: rgb(81, 81, 165);
    width: 180px;
}

.basicInfo {
    color: rgb(81, 74, 117);
    margin: 0px auto;
    margin-top: 20px;
}

.edu {
    padding-bottom: 10px; 
}

.code {
    margin-top: 30px;
    padding-bottom: 10px; 
}

.langInfo{
    margin-top: 30px;
    padding-bottom: 10px; 
}

footer {
display: flex;
color: black;
width: 620px;
}

.gitInfo {
    margin-top: 35px;
    margin-left: 20px;
}