* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
    ;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1020px;
    margin: 0px auto;
}

header {
    background-color: #191542;
    padding: 3% 1%;
}

.header-container {
    display: flex;
    justify-content: start;
    padding: 3% 5%;
}

.title-section {
    margin: 10px auto;
    color: rgb(16, 7, 41);
}

.list-navigation {
    display: flex;
    justify-content: space-around;
}

.item-navigation {
    list-style: none;
    font-family: Roboto;
    font-style: normal;
}

@media (max-width: 640px) {
    .list-navigation {
        display: none;
        left: 0;
    }
    .burger {
        margin: 3px;
        cursor: pointer;
        display: inline-block;
    }
    .burger i {
        display: block;
        width: 30px;
        height: 6px;
        margin: 4px auto;
        background: blanchedalmond;
    }
    .show {
        display: block;
    }
    .javascript {
        font-size: 10px;
    }
    .my-name {
        font-size: 20px;
    }
}

.link {
    color: #EAE6CA
}

.link:hover {
    color: burlywood;
}

.profile-photo {
    border-radius: 50%;
    width: 110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.photo-block {
    max-width: 180px;
    padding: 0px 20px;
}

.basic-info {
    color: #EAE6CA;
}

.section-container {
    margin: 5% 10%;
    position: relative;
}

.section-container::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: black;
}

.list {
    margin-bottom: 10px;
    margin-left: 30px;
}

.code {
    margin-top: 30px;
    padding-bottom: 10px;
}

.code-container {
    margin: 5% 10%;
}

.img-drum {
    display: block;
    margin: 20px auto;
}

.lang-info {
    margin-top: 30px;
    padding-bottom: 10px;
}

footer {
    display: flex;
    justify-content: space-around;
}